body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: smaller;
    background: black;
}

img {
    border: none;
}

div.header {
    height: 32px;

    background-image: 
        -webkit-gradient(linear,
            left top, left bottom,
            color-stop(0.0, rgba(0, 186,  36, 1.0)),
            color-stop(1.0, rgba(0,  99,  19, 1.0)));
    background-image: 
        -moz-linear-gradient(top,
            rgba(0, 186,  36, 1.0) 0%,
            rgba(0,  99,  19, 1.0) 100%);

    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);

    color: white;
    background-color: rgba(0,  99,  19, 1.0);

    text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

div.header > ul {
    display: inline-block;

    list-style-type: none;

    margin: 0px;
    padding: 5px 5px 5px 5px;

    vertical-align: top;
    line-height: 12px;
}

div.header > div.header-text {
    display: inline-block;

    margin: 0;
    padding: 10px 0;

    vertical-align: top;
    line-height: 12px;
}

div.header > div.header-logo {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 32px;
    background: url(ripple-logo.png) top right no-repeat;
}

div.header > ul > li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    min-width: 100px;
    cursor: default;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-width: 1px 0px 1px 1px;

    -webkit-box-shadow:
        0px 1px 1px rgba(255, 255, 255, 0.2),
        inset 0px 0px 2px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 
        0px 1px 1px rgba(255, 255, 255, 0.2),
        inset 0px 0px 2px rgba(255, 255, 255, 0.25);
    box-shadow: 
        0 1px 1px rgba(255, 255, 255, 0.2),
        inset 0px 0px 2px rgba(255, 255, 255, 0.25);

    -webkit-transition: background 0.2s ease-in-out;

    text-align: center;
}

div.header > ul li:first-child {
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
}
div.header > ul li:last-child {
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-width: 1px;
}

div.header > ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
} 
div.header > ul li:active {
    background-color: rgba(0, 0, 0, 0.3);
}

div.header > ul li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

p.footer {
    padding: 5px;
}

.hidden {
    display: none;
}

div.search-box {
    padding: 0 5px 0 5px;
}
div.search-box input[type=text] {
    width: 100%;
}
div.search-box input[type=submit] {
    position: absolute;
    right: 10px;
}

div.search-item {
    margin: 2px;
    padding: 2px;
    border: solid black 1px;
    background-color: #ffff99;
}
div.search-item:hover {
    background-color: #999999;
}
div.search-item h1 {
    margin: 0;
    padding: 0;
    font-size: larger;
}
div.search-item > a {
    display: block;
    color: inherit;
    text-decoration: none;
}

div.wavelet-action-box {
    float: right;
}
div.wavelet-action-box > form {
    padding: 0;
    margin: 0;
}

div.wavelet {
    margin: 5px;
    padding: 5px;
    background-color: #ff9999;
    border: solid black 1px;
}

div.thread {
    padding-left: 5px;
    margin-bottom: 5px;
}

div.thread div.thread, div.blip-content div.thread {
    margin-left: 1em;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
}

div.blip {
    margin: 5px 5px 5px 0;
    padding: 5px;
    background-color: #9999ff;
    border: solid black 1px;
}

div.blip-debug {
    float: right;
    margin-right: 5px;
    padding: 2px;
    border: solid black 1px;
    background-color: #ffff99;
    font-family: monospace;
}

div.blip-content {
    padding: 5px;
    background-color: #ffffff;
    border: solid black 1px;
}
div.blip-content h1 {
    display: inline;
}
div.blip-content div.indent {
    margin-left: 3em;
}

div.blip-reply {
    margin: 5px 5px 5px 0;
    padding: 5px;
    background-color: #99ff99;
    border: solid black 1px;
}
div.blip-reply form {
    display: inline;
}
div.blip-reply textarea {
    width: 100%;
}

div.image, div.attachment {
    display: table-cell;
    border: solid #999999 1px;
    background-color: #ffff99;
    margin: 0;
    padding: 0;
}
div.image > a, div.attachment > a {
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

div.gadget-unknown {
    border: dashed #666666 3px;
    background-color: #99ff99;
    padding: 2px;
}

div.gadget-yesnomaybe {
    display: table;
    width: 100%;
}
div.gadget-yesnomaybe-list {
    display: table-cell;
    width: 33%;
}
div.gadget-yesnomaybe-list > div {
    border: solid black 1px;
    margin: 2px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}
div.gadget-yesnomaybe-list > div.gadget-yesnomaybe-yes {
    background-color: #33ff33;
}
div.gadget-yesnomaybe-yes {
    background-color: #ccffcc;
}
div.gadget-yesnomaybe-list > div.gadget-yesnomaybe-no {
    background-color: #ff3333;
}
div.gadget-yesnomaybe-no {
    background-color: #ffcccc;
}
div.gadget-yesnomaybe-list > div.gadget-yesnomaybe-maybe {
    background-color: #ffff33;
}
div.gadget-yesnomaybe-maybe {
    background-color: #ffffcc;
}
div.gadget-yesnomaybe > div > ul {
    margin: 0;
}

div.protocol-debug {
    border: solid black 1px;
    background-color: #cccccc;
}
div.protocol-debug > pre {
    margin: 5px;
}

form.new-wave-form input[type=text] {
    width: 100%;
}
form.new-wave-form textarea {
    width: 100%;
}

form.add-recipients-form textarea {
    width: 100%;
}
