<div class='blip' id='[% blip_id %]'>

  [% IF debug %]
    <div class='blip-debug'>
      [% debug.join('<br />') %]
    </div>
  [% END %]

  <div class='blip-participants'>
    <b>[% creator %]</b>
    [% IF contributors %]
      with <b>[% contributors.join('</b>, <b>') %]</b>
    [% END %]
  </div>

  <div class='blip-timestamp'>
    <b>[% time %]</b> on <b>[% date %]</b>
  </div>

  <div class='blip-content'>
    [% blip_html %]
  </div>

</div>

[% IF reply_html %]
  [% reply_html %]
[% END %]
