<div class='blip' id='[% blip_id %]'>

  <div class='blip-participants'>
    <b>[% creator %]</b>
    [% IF contributors %]
      with <b>[% contributors.splice(0, 15).join('</b>, <b>') %]</b>
      [% IF contributors.size > 0 %]
        (and [% contributors.size %] more)
      [% END %]
    [% END %]
  </div>

  <div class='blip-timestamp'>
    <b>[% time %]</b> on <b>[% date %]</b>
  </div>

  <div class='blip-content'>
    [% IF debug %]
      <div class='blip-debug'>
        [% debug.join('<br />') %]
      </div>
    [% END %]

    [% blip_html %]
  </div>

</div>

[% IF reply_html %]
  [% reply_html %]
[% END %]
