[% IF count == 0 %]
  <div class='content'>aww, no more...</div>

  <div class='button-set'>
    <a class='button-single' href='[% script_uri %]?q=[% query %]&a=search'>Back to start</a>
  </div>
[% ELSE %]

  [% FOREACH digest IN digests %]
    [% INCLUDE digest uri=digest.uri title=digest.title snippet=digest.snippet %]
  [% END %]

  <div class='button-set'>
  [% IF current_index > 0 %]
    <a class='button' href='[% script_uri %]?q=[% query %]&a=search'>Back to start</a><a class='button' href='[% script_uri %]?q=[% query %]&i=[% next_index %]&a=search'>Next page</a>
  [% ELSE %]
    <a class='button-single' href='[% script_uri %]?q=[% query %]&i=[% next_index %]&a=search'>Next page</a>
  [% END %]
  </div>
[% END %]

[% IF debug %]
  <div class='protocol-debug'>
    <pre>[% debug %]</pre>
  </div>
[% END %]
 
[% BLOCK digest %]
  <div class='search-digest'>
    <a href='[% uri %]'>
      <h1>[% title %]</h1>
      [% snippet %]
    </a>
  </div>
[% END %]
