<div class='wavelet'>
  <div class='wavelet-action-box'>
    <form method='get' action='[% script_uri %]'>
      <input type='hidden' name='w' value='[% wave_id %]' />
      <input type='hidden' name='wl' value='[% wavelet_id %]' />
      <input type='hidden' name='a' value='add' />
      <input type='submit' value='add people' />
    </form>
  </div>

  In this wave: <b>[% participants.join('</b>, <b>') %]</b>
</div>

[% thread_html %]

[% IF debug %]
  <div class='protocol-debug'>
    <pre>[% debug %]</pre>
  </div>
[% END %]
